.container {
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
}


#anim {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 1.5em;
    }
    .container {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

}