* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 2em;
}


.topHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 1em 2em;
    box-shadow: 2px 2px 2px  black;
}

.nav :nth-child(1) {
    background-color: rgb(141, 141, 247);
}

.mainHead {
    display: flex;
    align-items: flex-end;
    padding-top: 2em;
}

.mainHead >* {
    flex: 50%;
    padding-left: 2em;
}

.container {
    padding: 2em;

}
.row1 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left {
    border: 1px solid black;
    flex: 50%;
    padding: 1em;
    
}
.right {
    flex: 50%;
    margin-left: 1em;

}

.dTop {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 1px dashed black;
}

.dTop i {
    font-size: 2em;
}

.dTop p {
    flex-wrap: wrap;
    padding-left: 0.5em ;
}

.dBot {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

.col1{
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.col1 i {
    font-size: 2em;
}
.col1 a {
    color: black;
    text-align: center;
}

.col2 {
    flex: 70%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
}
.col2 h2 {
    align-self: center;
}

.row2 {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.row2 .right {
    border: 1px solid black;
    padding: 1em;
}

table {
    width: 100%;
    border: 1px solid black;
}
thead {
    background-color: #c2c2c2;
}

tr {
    text-align:start;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
td:nth-child(3) {
    text-align: center
}
tr td {
    border-left: 1px solid black;
}
tr td:nth-child(1) {
    border-left: none;
}

li {
    list-style: none;
}


.mr {
    margin-right: 1em
}

#anim {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  

/*Pages connexion et inscription*/

.form-container {
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 2em;
}

.form-container h1 {
    text-align: center;
}
.form-container a {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
}
form button {
    width: 50%;
    margin: 1em auto;
}

/*Partie responsive*/
@media screen and (max-width: 576px) {
    * {
        line-height: normal;
    }
    .topHeader {
      flex-direction: column;
    }
    .btn-container {
        justify-content: start;
    }
    .nav {
        flex-direction: column;
    }
    .mainHead {
        flex-direction: column;
    }
    .row1 {
        flex-direction: column;
    }
    .dBot {
        flex-direction: column;
    }
    .row2 {
        flex-direction: column;
    }
    .container {
        padding: 0;
    }
    .row2 >.left {
        width: 100vw;
    }
    .right {
        margin: 0;
        margin-top: 1em;
    }
    .left {
        padding: 0;
        margin-top: 1em;
    }

    .form-container {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
    }
  }




